@page
@model WebApplication2.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";
}
<h1>About Me</h1>
<p>My name is Illia and I am 59 years old. I live in Kyiv and I enjoy playing music, reading and traveling.</p>